<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Frid-G-Box</name>
    <description>
        Frid-G-Box recipe application for phone.
    </description>
    <author email="ainakiurus@gmail.com" href="https://github.com/MissAlways/Frid-G-Box">
        MissAlways
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
