#lista {
    width: 100%;
}

#list img {
    width: 150px;
    height: 150px;
    display: inline-block;
    border-radius: 50%;
}

.iconLeft a{
    padding-left: 2.5em !important;
    padding-right: 1em !important;
}
.iconLeft a:after{
    right: auto;
    left: 9px;
}

.recipeImage {
    max-height: 25%;
    max-width: 100%;
    min-height: 250px;
    min-width: 90%;
    border-radius: 20%;

}